/* ---- reset ---- */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* --- Primary colors --- */

 :root {
    --primary-color: black;
    --secondary-color: black;
    --font-color: black;
    --bg-color: rgba(255, 255, 255, 0.8);
    --heading-color: white;
    --border-color: #ccc;
}

[data-theme="dark"] {
    --primary-color: white;
    --secondary-color: black;
    --font-color: white;
    --bg-color: rgba(0, 0, 0, 0.9);
    --heading-color: black;
    --border-color: rgb(43, 43, 43);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--font-color);
}


/* --- MacOS dark mode --- */

@media (prefers-color-scheme: dark) {
    body {
        color: var(--secondary-color);
        background-color: var(--secondary-color);
    }
}


/* ---- typography ---- */

body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    /* line-height: 147%; */
    background-color: var(--bg-color);
}

h1 {
    line-height: 1.3em;
    font-size: 2.8em;
    margin: 0px 0 40px 0;
    color: var(--primary-color);
    margin: 10px 0 60px 0;
    font-weight: 900;
    text-decoration: none;
    animation: flow 10s ease-in-out infinite;
    background: linear-gradient(-70deg, #5E64FD, #FF50A1, #5E64FD, #FF50A1);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    margin: 0;
    color: var(--primary-color);
}

h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: var(--primary-color);
}

p {
    margin: 0;
    color: #636363;
    font-size: 0.8em;
}

a {
    color: black;
    font-size: 1.6em;
    text-decoration: none;
    color: var(--primary-color);
}


/* ---- layout ---- */

#site-header {
    padding: 0px 0;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--border-color);
}

#site-header nav {
    display: flex;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#site-header nav ul {
    margin: 0;
    padding: 0px 10px;
    list-style-type: none;
}

#site-header nav ul li {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

#site-header nav ul li a {}

#site-header img {
    width: 30px;
    height: 100%;
    margin-right: 10px;
    float: left;
}

#site-header nav ul li h2 {
    font-size: 1em;
    float: left;
    margin-top: 8px;
    font-weight: 100;
}

@media (min-width: 768px) {
    #site-header nav {
        padding: 18px 20px;
    }
}

#site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
}

#site-main {
    padding: 25px;
    margin-top: 60px;
    background-color: var(--bg-color);
}

@media (min-width: 768px) {
    #site-main {
        padding: 35px 35px 35px 35px;
        margin-top: 75px;
    }
    h1 {
        margin: 10px 0 60px 0;
        font-size: 6em;
        font-weight: 900;
        text-decoration: none;
        line-height: 1.2em;
        animation: flow 10s ease-in-out infinite;
        background: linear-gradient(-70deg, #5E64FD, #FF50A1, #5E64FD, #FF50A1);
        background-size: 300%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: flex;
        justify-content: center;
    }
}


}
.container {
    margin: 0 20px;
}
.section {
    margin-bottom: 20px;
    padding-top: 20px;
}
.li {
    text-decoration: none;
}

/* --- Cards - Landing page ---- */
.grid-cards {
    display: grid;
    grid-gap: 25px;
    grid-template-rows: 162px 162px 162px 162px;
    cursor: pointer;
}
.grid-cards-options {
    grid-template-columns: 10% 90% 10%;
    box-shadow: 4px 4px 10px #00000047;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-cards-options:nth-child(1) {
    background-image: linear-gradient(-90deg, #FF50A1, #FFB958);
}
.grid-cards-options:nth-child(1):hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}
.grid-cards-options:nth-child(2) {
    background-image: linear-gradient(-90deg, #A264F7, #FF71C8);
}
.grid-cards-options:nth-child(2):hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}
.grid-cards-options:nth-child(3) {
    background-image: linear-gradient(-90deg, #5E64FD, #52E2F5);
}
.grid-cards-options:nth-child(3):hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}
.grid-cards-options:nth-child(4) {
    background-image: linear-gradient(-90deg, #299591, #99DBA1);
}
.grid-cards-options:nth-child(4):hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}
.grid-cards-options a {
    color: white;
    font-size: 2em;
    font-weight: 900;
    text-decoration: none;
}
@media (min-width: 768px) {
    .grid-cards {
        display: grid;
        grid-gap: 25px;
        grid-template-rows: 162px 162px;
        cursor: pointer;
        grid-template-columns: 1fr 1fr;
        margin-top: 80px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }
    
    #site-main {
        padding: 35px 45px 35px 45px;
    }
}
@media (min-width: 1024px) {
    .grid-cards {
        display: grid;
        grid-gap: 25px;
        grid-template-rows: 230px;
        cursor: pointer;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 100px;
    }
}

/* --- Switch light & dark mode */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    em {
        margin-left: 10px;
        font-size: 1rem;
    }
}
.theme-switch {
    display: inline-block;
    height: 27px;
    position: relative;
    width: 54px;
}
.theme-switch input {
    display: none;
}
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
.slider:before {
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 21px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 21px;
}
input:checked+.slider {
    background-color: #66bb6a;
}
input:checked+.slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
@media (max-width: 768px) {
    .landing-page-bottom {
        display: none;
    }
}
@media (min-width: 768px) {
    .landing-page-bottom {
        margin-top: 56px;
        width: 100%;
        height: 70vh;
        box-shadow: 4px 4px 10px #00000047;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        animation: flow 10s ease-in-out infinite;
        background: linear-gradient(-70deg, #FF50A1, #5E64FD);
        background-size: 300%;
    }
    
    @keyframes flow {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
    }
    
    .landing-page-bottom p {
        color: white;
        font-size: 2.4em;
        font-weight: 300;
        text-decoration: none;
        line-height: 1.7em;
    }
}

/* --- ALBUM CARDS --- */
.card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 35px;
}
.card-album img {
    width: 35%;
    float: left;
    margin-right: 20px;
    box-shadow: 4px 4px 10px #00000047;
}
.card-album {
    float: left;
    border-top: 1px solid var(--border-color);
    padding-top: 15px;
}
@media (min-width: 768px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 35px;
        grid-row-gap: 35px;
    }
    
    .grid-cards-options a {
        font-size: 2.4em;
    }
}
@media (min-width: 1024px) {
    .landing-page-bottom {
        height: 80vh;
        margin-top: 120px;
    }
    
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 35px;
        grid-row-gap: 35px;
        margin-top: 100px;
    }
    
    h1 {
        margin: 10px 0 60px 0;
        font-size: 6.8em;
        font-weight: 900;
        text-decoration: none;
        line-height: 1.2em;
        animation: flow 10s ease-in-out infinite;
        background: linear-gradient(-70deg, #5E64FD, #FF50A1, #5E64FD, #FF50A1);
        background-size: 300%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    @keyframes flow {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
    }
    
    header.title {
        margin-top: 50px;
    }
}
@media (min-width: 1024px) {
    .landing-page-bottom p {
        color: white;
        font-size: 3em;
        font-weight: 300;
        text-decoration: none;
        line-height: 1.9em;
    }
    
    .grid-cards-options a {
        font-size: 3em;
    }
}