/* ---- reset ---- */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* --- Primary colors --- */

:root {
    --primary-color: black;
    --secondary-color: black;
    --font-color: black;
    --bg-color: white;
    --heading-color: white;
}

[data-theme="dark"] {
    --primary-color: white;
    --secondary-color: white;
    --font-color: white;
    --bg-color: black;
    --heading-color: black;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--font-color);
}


/* --- MacOS dark mode --- */


/* @media (prefers-color-scheme: dark) {
    body {
        color: #ddd;
        background-color: #222;
    }
} */


/* ---- typography ---- */

body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    /* line-height: 147%; */
}

h1 {
    line-height: 1.3em;
    font-size: 2.3em;
    margin: 0px 0 30px 0;
    color: var(--secondary-color);
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 0.9em;
}

p {
    margin: 0;
    color: #636363;
    font-size: 0.8em;
}

a {
    color: black;
    font-size: 1.6em;
    text-decoration: none;
    color: var(--primary-color);
}


/* ---- layout ---- */

#site-header {
    padding: 0px 0;
    color: white;
    background: white;
    box-shadow: 0px 1px 8px #d7d7d7;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#site-header nav {
    display: flex;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

#site-header nav ul {
    margin: 0;
    padding: 0px 10px;
    list-style-type: none;
}

#site-header nav ul li {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

#site-header nav ul li a {}

#site-header img {
    width: 30px;
    height: 100%;
    margin-right: 10px;
}

#site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
}

#site-main {
    padding: 35px;
    margin-top: 60px;
}

.container {
    margin: 0 20px;
}

.section {
    margin-bottom: 20px;
    padding-top: 20px;
}

.li {
    text-decoration: none;
}


/* --- Cards - Landing page ---- */

.grid-cards {
    display: grid;
    grid-gap: 25px;
    grid-template-rows: 162px 162px 162px 162px;
    cursor: pointer;
}

.grid-cards-options {
    grid-template-columns: 10% 90% 10%;
    box-shadow: 4px 4px 10px #ededed;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cards-options:nth-child(1) {
    background-image: linear-gradient(-90deg, #FF50A1, #FFB958);
}

.grid-cards-options:nth-child(1):hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}

.grid-cards-options:nth-child(2) {
    background-image: linear-gradient(-90deg, #A264F7, #FF71C8);
}

.grid-cards-options:nth-child(2):hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}

.grid-cards-options:nth-child(3) {
    background-image: linear-gradient(-90deg, #5E64FD, #52E2F5);
}

.grid-cards-options:nth-child(3):hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}

.grid-cards-options:nth-child(4) {
    background-image: linear-gradient(-90deg, #299591, #99DBA1);
}

.grid-cards-options:nth-child(4):hover {
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}

.grid-cards-options a {
    color: white;
    font-size: 1.8em;
    font-weight: 900;
    text-decoration: none;
}

@media (min-width: 768px) {
    .container {
        max-width: 728px;
        margin: 0 auto;
    }
}


/* --- Switch light & dark mode */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    em {
        margin-left: 10px;
        font-size: 1rem;
    }
}

.theme-switch {
    display: inline-block;
    height: 15px;
    position: relative;
    width: 54px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #000000;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    bottom: 5px;
    content: "";
    height: 22px;
    left: -1px;
    position: absolute;
    transition: .4s;
    width: 22px;
    content: "🌘";
    font-size: 32px;
}

input:checked+.slider {
    background-color: #ccc;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
    content: "\01F431"
}

.slider.round:before {
    border-radius: 50%;
}


/* --- ALBUM CARDS --- */

.card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 35px;
}

.card-album img {
    width: 35%;
    float: left;
    margin-right: 20px;
    box-shadow: 4px 4px 10px #d7d7d7;
}

.card-album {
    float: left;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}